<div class="navbar">    
 
    <div #navOperate class="sidenav">
        <a style="cursor:pointer" class="closebtn" (click)="closeNav()">&times;</a>
        <a class="a" href="#">My Space</a>
        <a class="a" href="#">Market</a>
        <a class="a" href="#">About</a>
        <a class="a" href="#">Contact Us</a>
    </div>
    
    <span (click)="openNav()">&#9776; Menu</span>

        
    <form class="example" >
        <input type="text" placeholder="Search.." name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>  
 
</div>
